{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'pages/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/vendor.css' %}">


    <!-- script
    ================================================== -->
    <script src="{% static 'pages/js/modernizr.js' %}"></script>
    <script defer src="{% static 'pages/js/fontawesome/all.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'pages/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pages/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pages/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'pages/js/site.webmanifest' %}">


</head>

<body id="top" style="background-color: white;">


    <!-- header
    ================================================== -->
    <header class="s-header" style="position: fixed; background-color: white; top: 0;">

        <div class="s-header__logo">
            <a class="rubik-scribble-regular" href="#">VINMARTECH</a>

        </div>

        <div class="s-header__content">
    
            <nav class="s-header__nav-wrap">
                <ul class="s-header__nav brand-version-2">
                    <li><a href="{% url 'pages:home' %}" title="Intro">Accueil</a></li>
                    <li><a href="{% url 'pages:about' %}" title="About">Qui sommes-nous?</a></li>
                    <li><a href="{% url 'pages:team' %}" title="Services">Team</a></li>
                    <li><a href="{% url 'pages:contact' %}" title="Works">Contact</a></li>
                </ul>
            </nav> <!-- end s-header__nav-wrap -->

            <a href="{% url 'pages:contact' %}" class="btn btn--primary btn--small">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z"/></svg>
                Parlons!
            </a>

        </div> <!-- end header-content -->

        <a class="s-header__menu-toggle" href="#0" style="background-color: #dd4b39; border-radius: 5%;"><span>Menu</span></a>

    </header> <!-- end s-header -->

    <div class="row" style="margin-top: 5rem; margin-bottom: 5rem;">

        <div class="column large-6 tab-12">

            <h3 class="h-add-bottom" style="font-weight: bolder;">Vous avez une idée en tête?</h3>

            <form method="post" action="{% url 'pages:contact' %}">
                {% csrf_token %}
                <div class="row" style="display: flex; justify-content: space-around;">

                    <div class="large-5">
                        <label for="id_name">Votre nom</label>
                        <input class="h-full-width" style="background-color: rgb(231, 120, 120);" type="text" name="name" placeholder="nom" id="id_name">
                    </div>
                
                    <div class="large-5">
                        <label for="id_email">Votre email</label>
                        <input class="h-full-width" style="background-color: rgb(231, 120, 120);" type="email" name="email" placeholder="test@mailbox.com" id="id_email">
                    </div>
                </div>
                
                <div>
                    <label for="id_reason">Raison de votre message</label>
                    <input class="h-full-width" style="background-color: rgb(231, 120, 120);" type="text" name="reason" placeholder="raison" id="id_reason">
                </div>
                
                <div>
                    <label for="id_message">Message</label>
                    <textarea class="h-full-width" style="background-color: rgb(231, 120, 120);" name="message" placeholder="votre message" id="id_message"></textarea>
                </div>
            
                <input class="btn h-full-width contact-section-submit" type="submit" value="Submit">
            </form>
            

        </div>

        <div class="column large-6 tab-12  contact-section-image1">
            {% if form.errors %}
                <div class="column large-12 tab-12">
                    <h3>Alertes!</h3>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}                                                                   
                            <br>                                
                            <div class="alert-box alert-box--error hideit">
                                <p>{{ error }}</p>
                                <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                            </div><!-- end error -->
                        {% endfor %}
                    {% endfor %}
                </div>
            {% elif message %}
                <div class="column large-12 tab-12">
                    <h3>Alertes!</h3>
                    <div class="alert-box alert-box--success hideit">
                        <p>{{ message }}</p>
                        <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                    </div><!-- end error -->
                </div>          
            {% endif %}
            {% if not form.errors %}
            <div style="margin-top: 5rem;">
                <img src="{% static 'pages/images/image2.png' %}" alt="image" data-aos="fade-up">
            </div>
        {% endif %}

        </div>
    </div> <!-- end row -->


    <!-- footer
    ================================================== -->
    <section >
        <!-- Footer -->
        <footer style="background-color: hsla(345, 93%, 44%, 1); color: white;">
            <!--Grid row-->
            <div class="column">
                <!--Grid column-->
                <div class="row">
                        <div class="column large-4 w-900-stack">
                            <h5 class="text-uppercase"><a class="rubik-scribble-regular" style="text-decoration: none; color: white;" href="#">VINMARTECH</a></h5>
                
                            <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                            aliquam voluptatem veniam, est atque cumque eum delectus sint!
                            </p>
                        </div>
                        <!--Grid column-->
                
                        <!--Grid column-->
                        <div class="column large-4 w-900-stack usefull-links">
                            
                            <ul class="list-unstyled mb-0">
                                <h5 class="text-uppercase" style="font-weight: bolder;">Liens utiles</h5>
                            <li>
                                <a style="color: white;" href="#!" class="">Accueil</a>
                            </li>
                            <li>
                                <a style="color: white;" href="#!" class="">Contact</a>
                            </li>
                            <li>
                                <a style="color: white;" href="#!" class="">A propos</a>
                            </li>
                            <li>
                                <a style="color: white;" href="#!" class="">Notre Team</a>
                            </li>
                            </ul>
                        </div>
                        <div class="column large-4 w-900-stack  address">
                            <ul>
                                <h5 class="text-uppercase" style="font-weight: bolder;">Address</h5>
                                <li>
                                    <a style="text-decoration: none; color: white;" href="#!" class=""><strong>Guinea - Conakry</strong></a>
                                </li>                              
                                <li>
                                <a style="text-decoration: none; color: white;" href="#!" class="">Commune de Lambanyi</a>
                                </li>
                                <li>
                                <a style="text-decoration: none; color: white;" href="#!" class="">Tel: 611 56 70 24 / 623 04 00 31</a>
                                </li>
                                <li>
                                <a style="text-decoration: none; color: white;" href="#!" class="">Email: info@vinmartech.com</a>
                                </li>
                            </ul> 
                        </div>
                </div>
                <div class="row large-12 social-media-icons">
                    <!-- Section: Social media -->
                    <section class="text-center">
                    <!-- Facebook -->
                        <a
                            class="btn text-white  m-1"
                            style="background-color: #3b5998;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-facebook-f"></i
                        ></a>
                    
                        <!-- Twitter -->
                        <a
                            class="btn text-white  m-1"
                            style="background-color: #55acee;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-twitter"></i
                        ></a>
                    
                        <!-- Google -->
                        <a
                            class="btn text-white  m-1"
                            style="background-color: #dd4b39;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-google"></i
                        ></a>
                    
                        <!-- Instagram -->
                        <a
                            class="btn text-white  m-1"
                            style="background-color: #ac2bac;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-instagram"></i
                        ></a>
                    
                        <!-- Linkedin -->
                        <a
                            class="btn text-white  m-1"
                            style="background-color: #0082ca;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-linkedin-in"></i
                        ></a>
                        <!-- Github -->
                        <a
                            class="btn text-white  m-1"
                            style="background-color: #333333;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-github"></i
                        ></a>
                    </section>
                    <!-- Section: Social media -->
                </div>                  
            </div>
            <!-- Copyright -->
            <div class="copyright-footer">
                © 2024 Copyright:
                <a  style="text-decoration: none; color: white;" href="#!">VINMARTECH - sarlu</a>
            </div>
            <!-- Copyright -->
            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    top
                </a>
            </div> <!-- end ss-go-top -->

        </footer>
        <!-- Footer -->
    </section>

    

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'pages/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'pages/js/plugins.js' %}"></script>
    <script src="{% static 'pages/js/main.js' %}"></script>

</body>

</html>